*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar.css */
.navbar {
  background-color: #222;
  color: #fff;
  min-height: 10vh;
  height: auto;
}

.navbar-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.navbar-list li {
  margin-right: 1rem;
}

.navbar-list li a {
  color: #fff;
  text-decoration: none;
}

.navbar-list li a:hover {
  text-decoration: underline;
}




/* about section */
.about-me {
  padding: 1.2rem;
  border: 2px solid red;
  /* background-color: #f8f8f8; */
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  background-color: #ccc;
  
    /* border: 1px solid #333; */
}


.about-title{
  width: 100%;
  border: 2px linear;
  letter-spacing: 0.2rem;
}
.about-title span{
  font-size: 2rem;
  color: Red;
  font-weight: bolder;
}
.about-title p{
  font-size: 1.5rem;
}
.about-desc{
  width: 48%;

  outline: 2px solid #5add40;
  outline-offset: -1px;

    &:hover {
        border: none;
        outline: none;
        background: 
            linear-gradient(90deg, #333 50%, transparent 0) repeat-x,
            linear-gradient(90deg, #cf2f2f 50%, transparent 0) repeat-x,
            linear-gradient(0deg, #517bc9 50%, transparent 0) repeat-y,
            linear-gradient(0deg, #218b2f 50%, transparent 0) repeat-y;
        background-size: 4px 3px, 4px 3px, 3px 3px, 3px 3px;
        background-position: 0 0, 0 100%, 0 0, 100% 0;
        animation: linearGradientMove .3s infinite linear;
    }   
}
@keyframes linearGradientMove {
  100% {
      background-position: 4px 0, -4px 100%, 0 -4px, 100% 4px;
  }
}
.two{
  outline: 2px solid #2da3c0;
}

.four{
  outline: 2px solid #d4d22a;
}
.six{
  outline: 2px solid #680c54;
}
.about-desc p{
  padding: 8px;
  font-size: 1.2rem;
  font-style: oblique;
  color: rgb(19, 10, 10);
  letter-spacing: 0.1rem;
}
.about-desc span{
  font-size: 1.6rem;
  font-weight: bold;
  font-style: oblique;
  color: rgb(12, 7, 7);
}
.two p{
  color: red;
}
.two span{
  color: red;
}
.four p{
  color: blue;
}
.four span{
  color: blue;
}
.six p{
  color: purple;
}
.six span{
  color: purple;
}
/* gallery section */
.image-container{
  background: linear-gradient(to bottom right, rgb(61, 59, 60), rgb(99, 95, 95));
}
.social{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.social i{
  font-size: 2rem;
}
/* contact section */
.lottie-email{
  width: 300px;
}

.contact-section {
  background-color: #fff;
  padding: 1rem;
  position: relative;
}
.contact-section span{
  font-size: 1.2rem;
  font-weight: 600;
  padding: 2rem;
}
.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.contact-form label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.contact-form input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.contact-form button {
  padding: 0.5rem;
  background-color: #222;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* footer */
.footer {
  background-color: #222;
  min-height: 10vh;
  height: auto;
  display: flex;
  align-items: center;
}
.footer-container{
  height: auto;
  color: #fff;
 
}


.lottie-contact{
  width: 20%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.contact-section form{
  position: relative;
}
.form-control{
  background-color: transparent;
}